@import './components/button.css';
@import './components/input.css';

@keyframes AppScreenAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes HoverAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

:root {
  --primary: var(--color-amber-600);
  --secondary: var(--color-cyan-700);
}
@theme {
  --animate-app-screen: AppScreenAnimation 0.2s ease-in;
  --animate-hover: HoverAnimation 2s ease-in-out infinite;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --background-image-hero: url('/bg-hero.webp');
}
